.navContainer {
    position: relative;
    background: #fff;
}

@media (min-width: 768px) {
    .navContainer {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.navWrapper {
    padding: 10px 0px 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    .navWrapper {
        padding: 10px 0px 5px 0px;
        
    }
}

@media (min-width: 1200px) {
    .navWrapper {
        padding: 10px 0px 5px 0px;
    }
}

.menuButton {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: #514f4e;
}

@media (min-width: 768px) {
    .menuButton {
        display: none;
    }
}

.iconMenu {
    display: block;
    fill: #3f8cce;
}

.iconMenu .iconCross {
    display: none;
}

.iconCross {
    display: block;
    fill: #3f8cce;
}

.iconCross .iconMenu {
    display: none;
}

.navListContainer {
    display: none;
}

@media (min-width: 768px) {
    .navListContainer {
        display: flex;
    }
}

@media (max-width: 767px) {
    .activeNavListContainer {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 50%;
        height: calc(100vh - 65px);
        z-index: 999;
        background-color: #fff;
        padding: 20px;
        font-size: 20px;
        overflow-y: auto;
    }
}

.navList {
    padding-top: 15px;
}

@media (min-width: 768px) {
    .navList {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
    }
}

.navItem {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 1.65em;
    color: #514f4e;
    padding-bottom: 15px;
}

@media (min-width: 480px) {
    .navItem {
        margin-left: 25px;
    }
}

@media (min-width: 768px) {
    .navItem {
        padding-bottom: 0;    }
}

@media (min-width: 1200px) {
    .navItem {
        margin-left: 110px;
    }
}

.navItem:hover,
.navItem:focus {
    color: #3f8cce;
}