.navContainer {
    background: #fff;
}

@media (min-width: 768px) {
    .navContainer {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.navWrapper {
    padding: 10px 15px 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuButton {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: #514f4e;
}

@media (min-width: 768px) {
    .menuButton {
        display: none;
    }
}

.iconMenu {
    display: block;
    fill: #3f8cce;
}

.iconMenu .iconCross {
    display: none;
}

.iconCross {
    display: block;
    fill: #3f8cce;
}

.iconCross .iconMenu {
    display: none;
}

.navList {
    display: none;
    list-style-type: none;
    width: 900px;
}

@media (min-width: 768px) {
    .navList {
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    }
}

.navItem {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 1.65em;
    color: #514f4e;
}

.navItem:hover,
.navItem:focus {
    color: #3f8cce;
}

.sideNav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    transform: translateX(100%);
    transition: all 0.5s;
}

@media (min-width: 768px) {
    .sideNav {
        display: none;
    }
}

.activeSideNav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    transform: translateX(50%);
    transition: all 0.5s;
    overflow-y: auto;
}

.sideNavList {
    list-style-type: none;
    padding-top: 30px;
    padding-left: 25px;
}

.sideNavItem {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 1.65em;
    color: #514f4e;
}

.sideNavItem:not(:last-child) {
    margin-bottom: 30px;
}