.menuButton {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.iconMenu {
    display: block;
}

.iconMenu:hover {
    fill: blue;
}

.iconMenu .iconCross {
    display: none;
}

.iconCross {
    display: block;
}

.iconCross:hover {
    fill: blue;
}

.iconCross .iconMenu {
    display: none;
}
