.gallerCollectionSection {
    padding-bottom: 15px;
}

@media (min-width: 768px) {
    .gallerCollection {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        margin-right: -15px;
    }
}