html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* * {
    outline: 1px red solid;
} */

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 480px) {
    .container {
    max-width: 480px;
    }
}

@media (min-width: 768px) {
    .container {
    max-width: 768px;
    }
}

@media (min-width: 1200px) {
    .container {
    max-width: 1200px;
    }
}
