.productSection {
    padding-bottom: 15px;
}

.productTitle {
    padding-bottom: 15px;
}

@media (min-width: 768px) {
.productImgBox {
    display: flex;
}
}

.productImg {
    position: relative;
    width: 100%;
    height: 374px;
}

@media (min-width: 768px) {
    .productImg {
        width: 380px;
        height: 390px;
    }
}

@media (min-width: 1200px) {
    .productImg {
        width: 580px;
        height: 590px;
    }
}

@media (min-width: 768px) {
    .priceBox {
        padding-top: 60px;
        padding-left: 20px;
    }
}

@media (min-width: 1200px) {
    .priceBox {
        padding-top: 100px;
        padding-left: 40px;
    }
}

.shortCharacteristic {
    display: none;
}

@media (min-width: 768px) {
    .shortCharacteristic {
        display: block;
        padding-top: 60px;
    }
}

@media (min-width: 1200px) {
    .shortCharacteristic {
        padding-top: 130px;
    }
}

.priceTitle {
    padding-top: 15px;
}

@media (min-width: 768px) {
    .priceTitle {
        font-size: 35px;
    }
}

@media (min-width: 1200px) {
    .priceTitle {
        font-size: 45px;
    }
}

.productButton {
    position: relative;
    width: 100%;
    padding: 0;
    border: 0;
    transition-duration: 500ms;
}

.productButton:hover {
    transform: scale(1.02);
    transition-duration: 500ms;
}

@media (min-width: 480px) {
    .productButton {
        height: 374px;
    }
}

@media (min-width: 768px) {
    .productButton {
        width: 380px;
        height: 390px;
    }
}

@media (min-width: 1200px) {
    .productButton {
        width: 580px;
        height: 590px;
    }
}

.descriptionTitle {
    padding-top: 30px;
}

@media (min-width: 768px) {
    .descriptionTitle {
        font-size: 35px;
    }
}

@media (min-width: 1200px) {
    .descriptionTitle {
        font-size: 40px;
    }
}

.description {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .05em;
    line-height: 2em;
    color: #514f4e;
    text-align: justify;
    white-space: pre-line;
}

@media (min-width: 480px) {
    .description {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .description {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .description {
        font-size: 18px;
    }
}

.characteristicTitle {
    padding-top: 30px;
}

@media (min-width: 768px) {
    .characteristicTitle {
        font-size: 35px;
    }
}

@media (min-width: 1200px) {
    .characteristicTitle {
        font-size: 40px;
    }
}

.characteristic {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .05em;
    line-height: 2em;
    color: #514f4e;
}

@media (min-width: 480px) {
    .characteristic {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .characteristic {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .characteristic {
        font-size: 18px;
    }
}

.productCharacteristicTitle {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .05em;
    line-height: 1.65em;
    color: #514f4e;
}

@media (min-width: 480px) {
    .productCharacteristicTitle {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .productCharacteristicTitle {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .productCharacteristicTitle {
        font-size: 20px;
    }
}

.additionalFeatures {
    text-align: justify;
}

.iconSliderLeft {
    position: absolute;
    bottom: 50%;
    left: 0;
    fill: #3e77aa;
    transition-duration: 500ms;
}

.productButton:hover .iconSliderLeft {
    transform: scale(1.5);
    transition-duration: 500ms;
}

.iconSliderRight {
    position: absolute;
    bottom: 50%;
    right: 0;
    fill: #3e77aa;
    transition-duration: 500ms;
}

.productButton:hover 
.iconSliderRight {
    transform: scale(1.5);
    transition-duration: 500ms;
}

.price {
    margin-left: -2px;
}

@media (min-width: 768px) {
    .price {
        margin-left: -3px;
    }
}